{{#inline_many}}
<fieldset id="{{type}}">
    {{#tables}}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_{{name}}">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{name}}" aria-expanded="false" aria-controls="collapse_{{name}}">
                        {{verbose}}
                    </a>
                </h4>
            </div>
            <div id="collapse_{{name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{name}}">
                <div class="panel-body">

                    <table class="table table-bordered x-table" data-table="{{name}}">
                        <tbody>
                        {{#records}}
                        <tr class="head">
                            <td class="jumbotron">
                                {{#pk}}
                                <input type="hidden" name="{{key}}" value="{{value}}" />
                                {{/pk}}
                                {{#insert}}
                                <input type="hidden" name="{{key}}" value="{{value}}" />
                                <a href="#" class="remove text-muted btn-xs pull-right" data-table="{{name}}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                                {{/insert}}
                                {{^insert}}
                                <label>
                                    {{#remove}}
                                    <input type="checkbox" name="{{key}}" {{#value}}checked="checked"{{/value}} /> <small>{{string.remove}}</small>
                                    {{/remove}}
                                </label>
                                {{/insert}}
                            </td>
                        </tr>
                        {{#columns}}
                        <tr>
                            {{>column}}
                        </tr>
                        {{/columns}}
                        {{/records}}

                        <tr class="head blank hidden">
                            <td class="jumbotron">
                                {{#insert}}
                                <input type="hidden" name="{{key}}" value="{{value}}" />
                                {{/insert}}
                                <a href="#" class="remove text-muted btn-xs pull-right" data-table="{{name}}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                            </td>
                        </tr>
                        {{#blank}}
                        <tr class="blank hidden">
                            {{>column}}
                        </tr>
                        {{/blank}}
                        </tbody>
                        <tfoot {{#one}}{{#records}}class="hidden"{{/records}}{{/one}}>
                        <tr>
                            <td><a href="#" class="add-another" data-table="{{name}}"><small>{{string.add-another}} {{verbose}}</small></a></td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        {{/tables}}
</fieldset>
{{/inline_many}}