
<h2>{{view.name}}</h2>

{{#show.success}}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>{{string.success}}:</strong> {{string.saved}}.
</div>
{{/show.success}}

{{#show.error}}
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>{{string.error}}:</strong> {{string.checkout}}.
</div>
{{/show.error}}

<form class="form-horizontal" action="{{root}}{{view.action}}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	{{>view}}
	{{>inline_one}}
	{{>inline_many}}

	{{^view.readonly}}
	<fieldset id="controls">
		{{#show.delete}}
		<button type="submit" class="btn btn-danger form-control" name="action[remove]">{{string.delete}}</button>
		{{/show.delete}}

		<button type="submit" class="btn btn-default form-control" name="action[another]">{{string.save-add}}</button>
		
		<button type="submit" class="btn btn-default form-control" name="action[continue]">{{string.save-continue}}</button>
		
		<button type="submit" class="btn btn-primary form-control" name="action[save]">{{string.save}}</button>
		
		<input type="hidden" name="_csrf" value="{{csrf}}" />
	</fieldset>
	{{/view.readonly}}
</form>
